.container {
  height: 100px;
  width: 350px;
  background-color: rgb(47, 47, 47);
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

p{
  font-family: arial;
  margin: 0;
  margin-left: 5px;
}

.font-title {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}

.font-para {
  font-size: 15px;
  color: rgb(163, 163, 163);
  width: 350px;
  margin-top: 10px;

}