.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.first-grid {
  background-color: lightpink;
}

.second-grid {
  background-color: lightpink;
}

.third-grid {
   background-color: lightpink;
}

.fourth-grid {
  background-color: lightpink
}