input {
  padding: 8px;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 6px;
  font-size: 15px;
  padding-left: 15px;
}

.first-bar, .second-bar {
  width: 110px;
}

.third-bar {
  display: block;
  margin-top: 10px;
  width: 247px;
  margin-bottom: 10px;
}

button {
  background-color: rgb(43, 133, 244);
  color: white;
  border: none;
  padding: 12px 106px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}