p {
  font-family: arial;
  font-size: 36px;
  margin: 0px;
  margin-bottom: 24px;
}

input {
  background-color: rgb(237, 237, 237);
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border:none;
  font-size: 14px;
  width: 350px;
  display: block;
  margin-bottom: 8px;
}

button {
  margin-top: 20px;
  cursor: pointer;
}

.request-button {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
}

.schedule-button {
  margin-left: 10px;
  border: none;
  padding: 12px 22px;
  background-color: rgb(237, 237, 237);
}