p {
    text-align: center;
    font-family: arial;
    margin: 0;
  }

  .top-text {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .middle-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .bottom-text {
    color: blue;
  }